<div class="jumbotron center">


<h1>Welcome to TourX BETA!</h1>
<SPAN STYLE="color: white; font-size: 10pt">
	<br>
<p>
Please excuse the mess. This is a work in progress. Eventually I'd like to make this a place for Touring band members / crew to exchange gear, resumes, venue and promoter reviews, and just to share general touring tips and knowledge. For now, create an account and post whatever you'd like! I'm happy to have you as a user. Features are definitely limited so have a go at the functiionality. Want to help? <a href="mailto:danielvassallo87@gmail.com">Email Me!</a>
</p>
Thanks for visiting!
<p><p>
-Danny Vassallo
<br>
Graphic Designer / Touring Musician
</span>
</div>